<%- include ("../layouts/header.ejs") %>

<div class="login-container">
   <h1>Admin Login</h1>

   <% if (typeof message !== 'undefined') { %>
      <h4><%= message %></h4>
   <% } %>

   <form action="" method="post">
      <input type="email" name="email" required placeholder="Enter Email">
      <input type="password" name="password" required placeholder="Enter Password">
      <input type="submit" value="Login">
    
   </form>
</div>

<% include ("../layouts/footer.ejs") %>