<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>UMS</title>
   <link rel="stylesheet" href="/registration.css">
   <link rel="stylesheet" href="/login.css">
   <link rel="stylesheet" href="/home.css">
   <link rel="stylesheet" href="/edit.css">
   <link rel="stylesheet" href="/adminLogin.css">
   <link rel="stylesheet" href="/adminHome.css">
   <link rel="stylesheet" href="/adminDashboard.css">
   <link rel="stylesheet" href="/new-user.css">
   <link rel="stylesheet" href="/edit-user.css">

</head>
<body>
   
